<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"cigma/banner"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px">
	
<!-- wp:pattern {"slug":"cigma/intro"} /-->

<!-- wp:pattern {"slug":"cigma/counter"} /-->

<!-- wp:pattern {"slug":"cigma/services"} /-->
	
<!-- wp:pattern {"slug":"cigma/process"} /-->
	
<!-- wp:pattern {"slug":"cigma/latest-news"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->